@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@{
    var userString = Context.Session.GetString("User");
    User user = null;
    if (!string.IsNullOrEmpty(userString))
    {
        user = JsonConvert.DeserializeObject<User>(userString);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rental_Car_Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rental_Car_Demo.styles.css" asp-append-version="true" />
    <style>
        .modal-header-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal-body-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal-header-center .modal-title {
            flex-grow: 1;
            text-align: center;
        }

        .modal-header-center .btn-close {
            position: absolute;
            right: 10px;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom ">
        <div class="container-fluid">
            <a class="navbar-brand fs-2" href="#" style="font-family: Arial, sans-serif !important;">
                <i class='bx bxs-car'></i> Rent a car today!
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Hello, @user?.Name
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Users" asp-action="Edit" asp-route-id="@user.UserId">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">My Cars</a></li>
                            <li><a class="dropdown-item" href="#">My Wallet</a></li>
                            <li><a class="dropdown-item" href="#">My Reports</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class=" footer-guest py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Rent Cars</h3>
                    <a style="text-decoration: none" href="#" class="text-black d-block">Search Cars and Rates</a>
                </div>
                <div class="col-md-3 ">
                    <h3>Customer Access</h3>
                    <a style="text-decoration: none" href="#" class="text-black d-block">Manage My Booking</a>
                    <a style="text-decoration: none" href="#" class="text-black d-block">My Wallet</a>
                    <a style="text-decoration: none" href="#" class="text-black d-block">My Car</a>
                    <a style="text-decoration: none" href="#" class="text-black d-block">Log In</a>
                </div>
                <div class="col-md-3">
                    <h3>Join Us</h3>
                    <a style="text-decoration: none" href="#" class="text-black d-block">New User Sign Up</a>
                </div>
            </div>
        </div>
    </footer>
    <form id="logoutForm" asp-controller="Verify" asp-action="Logout" method="post" style="display: none;">
        <input type="hidden" name="returnUrl" value="~/">
    </form>
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-center">
                    <h5 class="modal-title" id="logoutModalLabel">Log Out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-body-center">
                    Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                    <div class="d-flex w-100 justify-content-center align-items-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <div class="vr mx-3"></div>
                        <button type="button" class="btn btn-primary" onclick="submitLogout()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function submitLogout() {
            document.getElementById('logoutForm').submit();
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
