@model Rental_Car_Demo.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutRegister";
}

<div class="container mt-5">
    <div class="container-custom">
        <div class="close-btn"></div>
        <div class="row">
            <div class="col-md-6">
                <h4>LOG IN USING YOUR ACCOUNT</h4>
                <form>
                    <div class="mb-3">
                        <label for="loginEmail" class="form-label">Your email address</label>
                        <input type="email" class="form-control" id="loginEmail"
                               placeholder="Your email address">
                    </div>
                    <div class="mb-3 position-relative">

                        <label for="loginPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                        <i class='bx bx-low-vision toggle-password' id="toggleLoginPassword"></i>
                    </div>

                    <div class="mb-3">
                        @Html.ActionLink("Forgot your password?", "ResetPassword", "Account", null, new { @class = "text-decoration-none" })
                    </div>
                    <button type="submit" class="btn btn-custom w-100 far fa-user"> LOG IN</button>
                </form>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <div class="divider"></div>
            </div>
            <div class="col-md-5">
                <h4>NOT A MEMBER YET?</h4>
                <form asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Your name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Your email address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3 position-relative">
                        <label asp-for="Password" class="form-label"></label>

                        <div class="abccc" style="position:relative;">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Your password" />
                            <i class='bx bx-low-vision toggle-password2' id="toggleSignupPassword" ></i>
                        </div>
                        <div>
                            <small class="form-text text-muted ">Use at least one letter, one number, and seven characters.</small>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        
                        
                    </div>

                    <div class="mb-3 position-relative">
                        <label asp-for="ConfirmPassword" class="form-label">Confirm password</label>

                        <div class="abccc" style="position:relative;">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="signupConfirmPassword" placeholder="Confirm password">
                            <i class='bx bx-low-vision toggle-password' id="toggleSignupConfirmPassword"></i>
                        </div >

                        <div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        
                    </div>

                    
                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label"></label>
                        <input asp-for="Phone" class="form-control" placeholder="Your phone number" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="form-check mb-3">
                            <input asp-for="Role" class="form-check-input" type="radio" value="rentCar">
                            <label class="form-check-label" for="rentCar">
                                I want to rent a car
                            </label>
                        </div>
                        <div class="form-check mb-3 ps-5">
                            <input asp-for="Role" class="form-check-input" type="radio" value="carOwner">
                            <label class="form-check-label" for="carOwner">
                                I am a car owner
                            </label>
                        </div>       
                    </div>
                    <div>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input asp-for="AgreeToTerms" class="form-check-input" type="checkbox" id="terms" />
                        <label asp-for="AgreeToTerms" class="form-check-label" for="terms">
                            I have read and agree with the <a href="#" class="text-decoration-none ps-3">
                                <u>Terms and Conditions</u>
                            </a>
                        </label>
                        <span asp-validation-for="AgreeToTerms" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-custom w-100  far fa-user fa-plus"> SIGN UP</button>
                    </div>
                </form>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("form").submit(function (event) {
                var agreeToTerms = $("#terms").prop("checked");
                if (!agreeToTerms) {
                    event.preventDefault();
                    alert("You must agree to the terms and conditions.");
                }
            });
        });
    </script>
}