@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutRegister";
}
<h1 class="text-danger"> “This link has expired. Please go back to Homepage and try again.”.</h1>

