@model Rental_Car_Demo.ViewModel.RegisterAndLoginViewModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container-login" id="container">
    <div class="form-container sign-up">
        <form asp-controller="Users" asp-action="Register" method="post">
            <div class="mb-3">
                <label asp-for="Register.Name" class="form-label">Your name</label>
                <input asp-for="Register.Name" type="text" class="form-control" id="signupName" placeholder="Your name">
                <span asp-validation-for="Register.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Register.Email" class="form-label">Your email address</label>
                <input asp-for="Register.Email" type="email" class="form-control" id="signupEmail" placeholder="Your email address">
            </div>
            <div class="mb-3">
                <label asp-for="Register.Phone" class="form-label">Your phone number</label>
                <input asp-for="Register.Phone" class="form-control" id="signupPhone" placeholder="Your phone number">
                <span asp-validation-for="Register.Phone" class="text-danger"></span>
            </div>
            <div class="mb-3 position-relative">
                <label asp-for="Register.Password" class="form-label">Pick a password</label>
                <input asp-for="Register.Password" type="password" class="form-control" id="signupPassword" placeholder="Pick a password">
                <i class='bx bx-low-vision toggle-password2' id="toggleSignupPassword"></i>
                <small class="form-text text-muted">
                    Use at least one letter, one number, and seven
                    characters.
                </small>
                <span asp-validation-for="Register.Password" class="text-danger"></span>
            </div>

            <div class="mb-3 position-relative">
                <label asp-for="Register.ConfirmPassword" class="form-label">Confirm password</label>
                <input asp-for="Register.ConfirmPassword" type="password" class="form-control" id="signupConfirmPassword"
                       placeholder="Confirm password">
                <i class='bx bx-low-vision toggle-password' id="toggleSignupConfirmPassword"></i>
                <span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="d-flex align-items-center">
                <div class="form-check mb-3">
                    <input asp-for="Register.Role" class="form-check" type="radio" value="rentCar" id="rentCar" style="width: 16px;">
                    <label class="form-check-label" for="rentCar">
                        I want to rent a car
                    </label>
                </div>
                <div class="form-check mb-3 ps-5">
                    <input asp-for="Register.Role" class="form-check" type="radio" value="carOwner" id="carOwner" style="width: 16px;">
                    <label class="form-check-label" for="carOwner">
                        I am a car owner
                    </label>
                </div>
            </div>
            <span asp-validation-for="Register.Role" class="text-danger"></span>

            <div class="mb-3 d-flex">
                <input asp-for="Register.AgreeToTerms" class="" type="checkbox" id="terms" style="width: 16px;">
                <label asp-for="Register.AgreeToTerms" class="form-check-label" for="terms">
                    I have read and agree with the <a href="" class="text-decoration-none ps-3">
                        <u>
                            Terms and
                            Conditions
                        </u>
                    </a>
                </label>
                <span asp-validation-for="Register.AgreeToTerms" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-custom w-100 far fa-user fa-plus"> SIGN UP</button>
        </form>
    </div>

    <div class="form-container sign-in">
        <form>
            <h1>Sign In</h1>
            <span>or use your email password</span>
            <input type="email" placeholder="Email">
            <div class="mb-3 " style="position: relative">
                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                <i class="bx bx-low-vision toggle-password " style="top:55%;" id="toggleLoginPassword"></i>
            </div>
            <a href="#">Forget Your Password?</a>
            <button>Sign In</button>
        </form>
    </div>

    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of the site's features</p>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of the site's features</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>