
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutCarOwner.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="hero-section">
        <div class="background-images">
            <img src="~/img/hanoi.jpeg" alt="Car 1">
            <img src="~/img/sieuxe1.jpeg" alt="Car 2">
            <img src="~/img/xechay3.jpg" alt="Car 3">
            <img src="~/img/sieuuxe.jpg" alt="Car 4">
            <img src="~/img/hcm.jpg" alt="Car 5">
        </div>
        <div>
            <h1>FIND YOUR DREAM CAR</h1>
            <p>Get the Latest Car Reviews & Best Deals</p>
            <button class="btn btn-custom" style="width:20%" onclick="location.href='@Url.Action("ViewMyCars", "Car")'">My Cars</button>
        </div>
       
    </div>

    <div class="features-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4 col-lg-2 feature-box">
                    <i class="fa-solid fa-hand-holding-circle-dollar" style="font-size:35px"></i>
                    <h4>
                        How the insurance works
                    </h4>
                    <p>
                        From the minute you hand the keys over till the second you get them back you are covered. 
                        Your private insurance is not affected.
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 feature-box separator">
                    <i class="fa-sharp fa-solid fa-shield-check" style="font-size:35px"></i>
                    <h4>It's completely free</h4>
                    <p>We offer both owners and renters free sign ups. It's only once a vehicle is rented out that a 
                        share is deducted to cover admin and insurance.</p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 feature-box separator">
                    <i class="fa-regular fa-circle-check" style="font-size:35px"></i>
                    <h4>You decide the price</h4>
                    <p>When you list a car you decide the price. We can help with recommendations as to price, but ultimately you decide!</p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 feature-box separator">
                    <i class="fa-duotone fa-solid fa-cars" style="font-size:35px"></i>
                    <h4>Handing over your vehicle</h4>
                    <p>You arrange the time and location for the exchange of your vehicle with the renter. Both parties will need to agree and 
                        sign the vehicle rental sheet before and after key handover.</p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 feature-box separator">
                    <i class="fa-solid fa-triangle-exclamation" style="font-size:35px"></i>
                    <h4>You are in charge</h4>
                    <p>All renters are pre-screened by us to ensure safety and get your approval. 
                        If you do not feel comfortable with someone you are able to decline a booking.</p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 feature-box separator">
                    <i class="fa-light fa-money-check-dollar" style="font-size:35px"></i>
                    <h4>Set payment</h4>
                    <p>We pay you once a month and you can always view how much your car has earned under your user profile.
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>

</html>

