@model Rental_Car_Demo.ViewModel.ResetPassword2ViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card mt-5" style="border: none;">
                <div class="card-body">
                    <h2 class="text-center">Reset Password</h2>
                    <p class="text-center">Please set your new password</p>
                    <form asp-action="ResetPassword2" asp-controller="Users" method="post">
                        <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />
                        <div class="form-group mb-3">
                            <div class="abccc" style="position:relative;">
                                <input type="password" asp-for="Password" class="form-control" placeholder="Pick a password" id="Password">
                                <i class='bx bx-low-vision toggle-password' id="toggleSignupPassword"></i>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <small class="form-text text-muted"><i>Use at least one letter, one number, and seven characters.</i></small>
                        <div class="form-group mt-2">
                            <div class="abccc" style="position:relative;">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" id="ConfirmPassword">
                                <i class='bx bx-low-vision toggle-password' id="toggleSignupConfirmPassword"></i>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="bx bx-lock-open-alt"></i> RESET
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('toggleSignupPassword').addEventListener('click', function () {
                const passwordField = document.getElementById('Password');
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);
                this.classList.toggle('bx-show');
            });

            document.getElementById('toggleSignupConfirmPassword').addEventListener('click', function () {
                const passwordField = document.getElementById('ConfirmPassword');
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);
                this.classList.toggle('bx-show');
            });
        });
    </script>
}
