@model Rental_Car_Demo.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="container-custom">
        <h2 class="text-center ">Enter your email address.</h2>
        <p class="text-center">Please enter your email so we can send link to reset password to your email.</p>
        <p class="text-center">From the moment you click on the link, the link will no longer work whether you change your password or not.</p>
        <form asp-action="ResetPassword" method="post">
            <div class="form-group mt-5">
                <input asp-for="Email" class="form-control" placeholder="Your email address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class=""></i> Submit
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @*thong bao gui email*@
    <script>
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                swal("Success!", "@TempData["SuccessMessage"]", "success", {
                    button: "Aww ki!",
                });
            </text>
        }
    </script>
}